<header class="px-4 sm:px-6 lg:px-8 bg-pink-900">
  <div class="text-2xl p-2 text-white">Verbose english admin</div>
</header>
<main>
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <div class="flex overflow-x-auto">
      <div class="w-fit">
        <.lnb />
      </div>
      <div class="p-5">
        <%= @inner_content %>
      </div>
    </div>
  </div>
</main>
